@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Luxurious+Roman&family=Mochiy+Pop+P+One&family=Open+Sans:ital,wght@0,400;1,700&family=Pacifico&display=swap');

body{
    background-color: hsl(185, 41%, 84%) ;
    font-family: 'Space Mono', monospace ;
    
    
}
.container{
    background-color: white;
    width: 900px;
    height: 400px;
    align-content: center;
    padding: 1% 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 15px;
    
}
.first h1{
    color: rgb(122, 119, 119);
    
}
table{
    width: 97%;
    height: 70%;
    justify-items: center;
    
}


.first{
    font-size: 0.6em;
    background-color: white;
    width: 50%;
    height: 20%;
    padding: 0px 5px;
    border-radius: 15px;
   
    
    
}
.second{
    font-size: 0.7em;
    background-color: rgb(31, 105, 105);
    color: white;
    width: 50%;
    height: 10%;
    margin: 10px;
    padding: 10px 15px ;
    border-radius: 15px;
    margin-bottom: 5px;     

}
h2{
    font-size: 1em;
    width: 10%;
}
div .result h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn{
    font-size: 1.6em;
    width: 100px;
    height: 3em;   
    background-color: rgb(31, 105, 105);
    color: white;
    text-align: center;
    font-weight: bolder;
    border: none;
    border-radius: 10px;  
    margin: 0px  0px ;
    padding: 0px;
    cursor: pointer;

}
.btn:hover{
    box-shadow: 1px 1px rgb(10, 95, 95);
    background-color: rgb(212, 238, 238);
    color: black;
}
.btn-other{
    font-weight: bolder;
    font-size: 1.6em;
    width: 95px;
    height: 3em;
    margin: 1px;
    background-color: rgb(197, 240, 240);
    font-style: normal;
    text-align: center;
    font-size: 1.3em;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    
}
input{
    width: 70%;
    height: 3em;
    border-radius: 10px;
    border: none;
    background-color: rgb(235, 245, 245);
}
input:hover{
    box-shadow: 1.5px 1.5px rgb(31, 105, 105);
}
#valorTip, #totalPessoa, #totalConta{
    font-size: 2.9em;
    margin-top: 20px;
    margin-left: 65px;
    color: rgb(159, 219, 219);
    
}
.btnRes{
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(43, 94, 94);
    background-color: rgb(197, 240, 240);
    width: 110%;
    height: 40px;
    margin-left: 55px;
    margin-top: 25px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  
}
.btnRes:hover{
    
    box-shadow: 1.5px 1.5px rgb(56, 58, 58);
}
#numP{
    font-size: 0.61em;
    color: rgb(168, 15, 15);
    margin-left: 200px;
    margin-top: 0;
}
.people, .valor{
    font-family:  'Space Mono', monospace;
    font-size: 1.5em;
    font-weight: bolder;
    color: rgb(31, 105, 105);
    text-align: right;
    padding: 0px 5px;
    
}

.people:hover, .valor:hover{
    font-family:  'Space Mono', monospace;
    font-size: 1.9em;
    font-weight: bolder;
    color: rgb(31, 105, 105);
    text-align: right;
    padding: 0px 5px;
    
}
